@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:"Poppins", sans-serif;
    
}
body{
    overflow: hidden;

}
.backgroud{

    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
    background-image: url(./assets/pexels-roberto-nickson-2885320.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}
.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}
.cabeçalho-link a {
    color: #fff;
    font-size: 13px;
}
.cabeçalho-link a:hover{
    color:#2ecc71;
    transition: 0.3s all;
}
.logo{
    height: 40px;
    width: 40px;
    background: transparent;
    border:  1px solid #2ecc71;
    color: #2ecc71;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content:center;
    font-size: 13px;
    cursor: pointer;
}
button {
    color: #2ecc71;
    background:transparent;
    border: solid 1px #2ecc71;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 150px;
    cursor: pointer;
}
button:hover {
    background-color: #2ecc71;
    color: #fff;
    transition: 0.5s;
}
.container-text{
   padding: 120px 0 0 90px;
   margin-left: 130px;  
}
.text h3{
    color: #fff;
    font-size: 15px;
}
.text h1{
    color: #fff;
    margin-top: 10px;
}
.text span{
    color: #2ecc71;
}
.text p{
    color: #fff;
    font-size: 19px;
    font-weight: 60;
    margin-top: 19px;
}
.redes-sociais a{
    color: #2ecc71;
    padding: 18px;
    margin-top: 9px;
}
.btn{
    margin-top: 10px;
}
